# Python
__pycache__/
*.pyc

# Env and secrets
.env
*.env
credentials
whoop_api_client/token.json

# Local editor
.vscode/
.idea/

# Virtual environments
venv/
**/venv/

# Data artifacts
shared/outputs/dev_debrief.json
shared/uploads/
shared/outputs/
shared/mlflow/
# Local scripts
credentials
